<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
    }
    h1 {
      font-size: 6rem;
      font-weight: bold;
      color: #fff;
      font-family: system-ui, -apple-system, sans-serif;
    }
  </style>
</head>
<body>
  <h1>bar</h1>
</body>
</html>
